<!DOCTYPE html>
<html lang="en">

<head>
 {{>headerlinks}}

</head>

<body>

{{>navbar}}






    <div class="container-fluid main_header">

        <div class="row">

            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    
                    <!-- left side  div-->
                    <div class="col-md-12 col-12 main_header_left align-items-center ">
                      <figure>
                        <img src="Image/404.png" style=" width: 270px;" alt="404 error page" class="img-fluid img-404">
                      </figure>
                        <p>Wellcome to my world</p>
                        <h1 class="text-capitalize">{{errMsg}}</h1>
                        <a href="/" ><button>Go back</button></a>
                    </div>


                </div>

            </div>
        </div>
    </div>




   {{>footer}}

</body>

</html>